*{
    margin: 0 0;
}
/********GENERAL*******/
body{
    font-family: 'Roboto Condensed', sans-serif;
}

h1{
    padding-top: 25px;
    text-align: center;
    font-size: 60px;
    color: cadetblue;
}
p{
/*    padding: 15px 25px;*/
    font-size: 18px;
    line-height:  2;
/*    color: antiquewhite;*/

}
.active{
    color:  firebrick;
    font-family: 'Roboto', sans-serif;
    font-weight:  bold;
    
    
}
.hightlight {
    color:  firebrick;
    font-style: italic;
    font-weight:bold;
    
}
/********JUMBOTRON*******/
.jumbotron h2 p{
    text-align: center;
    padding: 50% 50%;
}

/********HEADER*******/
#mainLogo{
    float:  left;
}
nav ul{
    font-family: 'Roboto Condensed', sans-serif;
    padding-right: 25px;
    float: right;
}
nav ul li{
    text-transform: uppercase;
    display:  inline;
    list-style-type:  none;
    padding-top: 25px;
    padding-left: 100px;
}

nav ul li a  {
    text-decoration: none;
    color:  white;
    
}
nav ul li a:hover {
    text-decoration: none;
    color:  firebrick;
    font-style: italic;
    font-weight:bold;
}
header{
    height: 110px;
    background-color:cadetblue;
    border-bottom: solid 10px darkslategrey;
}

/********BODY*******/

.container{
    width:  80%;
    margin: auto;
    overflow:  hidden;
}

h1{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 3px;
    color: firebrick;
    font-weight: bold;
}



/******* FOOTER ******/
footer{
    height: 150px;
    margin-top: 75px;
    background-color: black;
}

#copyright{
    float:  left;
    padding-top:  25px;
    display: inline;
    color:  white;
/*    background-color: aqua;*/
}
#social-links{
    padding-top: 25px;
    float: right;
    
}
#social-links ul li{
    display: inline;
    padding-right: 50px;
}